/* PERSONAL CSS */
/*
  Author:   Henrique Baleroni
  Date:     04.17.2014
 */

/*----- GENERAL -----*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* I'm trying to get some decent fonts, but I can't get them to look good, so I'll only keep this one */
@font-face { font-family: "Brain Flower Euro"; src: url('../fonts/Brain%20Flower%20Euro.ttf'); }


body {
    font: 16px Helvetica, Arial, Sans-serif;
    background: url(../images/board.png) 0 0 repeat;
}

h1, h2 {
    margin-left: 10px;
}

.cta {
    background-color: #140f06;
    opacity: .95;
    height: 150px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 25px;
    z-index: 9999;
}

.cta h1 {
    text-align: center;
}

.cta span {
    margin: 0 15px 0 15px;
}

/*------ HEADER ------*/
.fixed_nav {
    background-color: #140f06;
    opacity: .95;
    height: 65px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

.fixed_nav h3 {
    text-align: center;
    margin: 0 auto;
    line-height: 100%;
    width: 50%;
}

.nav_btn {
    margin: 15px 10px 15px 10px;
    float: left;
}

.main_title {
    margin-top: 70px;
}

/*------ CONTENT -----*/
.new_btn {
    margin-top: 70px;
    margin-left: -10px;
}

.menu {
    margin-top: 30px;
    clear: both;
}

.menus {
    width: 175px;
    float: left;
}

.menu_buttons {
    background-color: #fff6a8;
    height: 165px;
    width: 165px;
    margin: 5px;
    float: left;
    /*Drop Shadow*/
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.4);
    -moz-box-shadow:    10px 10px 20px 0px rgba(0,0,0,0.4);
    box-shadow:         10px 10px 20px 0px rgba(0,0,0,0.4);
}

.events {
    background-color: #f1f1f1;
    padding-left: 5px;
    /*Drop Shadow*/
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.4);
    -moz-box-shadow:    10px 10px 20px 0px rgba(0,0,0,0.4);
    box-shadow:         10px 10px 20px 0px rgba(0,0,0,0.4);
}

.spanTxt {
    display: block;
    height: 30%;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
    font-family: 'Brain Flower Euro';
    font-size: 28px;
    color: #140f06;
}

form {
    background-color: #f1f1f1;
    padding: 10px;
    margin-top: 70px;
}

.logout {
    clear: both;
    width: 100%;
}

/*------- LIST -------*/
/*------ FOOTER ------*/
.page_footer {
    margin: 0 auto;
    width: 200px;
    text-align: center;
    padding-top: 10px;
    clear: left;
}

.page_footer p {
    font: 1em Helvetica, Arial, Sans-serif;
    color: #dedede;
}