<div class="fixed_nav">
<a class="btn btn-default nav_btn" href="#/menu/{{eventType}}">Back</a>
</div>
<br />

<div class="menu">
    <div class="menu">
        <form role="form">
            <div class="form-group">
                <label for="event-name">Event Name</label>
                <span class="form-control" ng-model="newEvent.type" id="event-name">{{eventMenu.name}}</span>
            </div>
            <div class="form-group">
                <label for="event-type">Event Type</label>
                <span class="form-control" ng-model="newEvent.type" id="event-type">{{eventMenu.type}}</span>
            </div>
            <div class="form-group">
                <label for="event-description">Event Description</label>
                <span class="form-control" ng-model="newEvent.type" id="event-description">{{eventMenu
                    .description}}</span>
            </div>
            <div class="form-group">
                <label for="event-location">Event Location</label>
                <span class="form-control" ng-model="newEvent.type" id="event-location">{{eventMenu.location}}</span>
            </div>
            <div class="form-group">
                <label for="event-date">Event Date</label>
                <span class="form-control" ng-model="newEvent.type" id="event-date">{{eventMenu.date}}</span>
            </div>
            <div class="form-group">
                <label for="event-time">Event Time</label>
                <span class="form-control" ng-model="newEvent.type" id="event-time">{{eventMenu.time}}</span>
            </div>

            <!--********-->

            <!--The code below was the change you told me to make for the fields to be disable, but the fields were able to be modified-->
            <!--So, i decided to change them back to the format above, so users can't change the data in the fields, hope its not a huge deal-->

            <!--********-->
            <!--<div class="form-group">-->
                <!--<label for="disabledTextInput">Event Name</label>-->
                <!--&lt;!&ndash;ALL THESE FORM FIELDS ARE NOT WORKING AS THEY SHOULD, THE DISABLED FEATURE IS NOT FUNCTIONING&ndash;&gt;-->
                <!--<input type="text" id="disabledTextInput" class="form-control" placeholder="{{eventMenu.name}}">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="disabledTextInput">Event Type</label>-->
                <!--&lt;!&ndash;ALL THESE FORM FIELDS ARE NOT WORKING AS THEY SHOULD, THE DISABLED FEATURE IS NOT FUNCTIONING&ndash;&gt;-->
                <!--<input type="text" id="disabledTextInput" class="form-control" placeholder="{{eventMenu.type}}">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="disabledTextInput">Event Description</label>-->
                <!--&lt;!&ndash;ALL THESE FORM FIELDS ARE NOT WORKING AS THEY SHOULD, THE DISABLED FEATURE IS NOT FUNCTIONING&ndash;&gt;-->
                <!--<input type="text" id="disabledTextInput" class="form-control" placeholder="{{eventMenu.description}}">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="disabledTextInput">Event Location</label>-->
                <!--&lt;!&ndash;ALL THESE FORM FIELDS ARE NOT WORKING AS THEY SHOULD, THE DISABLED FEATURE IS NOT FUNCTIONING&ndash;&gt;-->
                <!--<input type="text" id="disabledTextInput" class="form-control" placeholder="{{eventMenu.location}}">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="disabledTextInput">Event Date</label>-->
                <!--&lt;!&ndash;ALL THESE FORM FIELDS ARE NOT WORKING AS THEY SHOULD, THE DISABLED FEATURE IS NOT FUNCTIONING&ndash;&gt;-->
                <!--<input type="text" id="disabledTextInput" class="form-control" placeholder="{{eventMenu.date}}">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="disabledTextInput">Event Time</label>-->
                <!--&lt;!&ndash;ALL THESE FORM FIELDS ARE NOT WORKING AS THEY SHOULD, THE DISABLED FEATURE IS NOT FUNCTIONING&ndash;&gt;-->
                <!--<input type="text" id="disabledTextInput" class="form-control" placeholder="{{eventMenu.time}}">-->
            <!--</div>-->
            <button ng-click="attendEvent();" type="submit" class="btn btn-success">Attend Event</button>
        </form>
    </div>
</div>