<!--This is the Main Menu for the app-->
<div class="fixed_nav">
    <h2>The Board</h2>
</div>
<br />

<div class="well main_title">
    <h2>Events by Category</h2>
</div>

<div class="menu">
    <!--Getting the options from database and populating here via ng-repeat-->
    <div class="menus" ng-repeat="($id,option) in options">
        <a href="#/menu/{{$id}}">
            <div class="menu_buttons">
                <span class="spanTxt">{{option.title}} ({{(option.events | toArray).length }})</span>
            </div>
        </a>
    </div>
</div>

<br />
<div class="logout">
    <a class="btn btn-danger logout_btn" href="#" ng-click="loginObj.$logout();">Logout</a>
</div>