<div class="fixed_nav">
    <a class="btn btn-default nav_btn" href="/#/menu/{{eventType}}">Back</a>
</div>
<br />

<div class="menu">
    <form role="form">
        <div class="form-group">
            <label for="event-name">Event Name</label>
            <input type="text" ng-model="newEvent.name" class="form-control" id="event-name" placeholder="Event Name">
        </div>
        <div class="form-group">
            <label for="event-type">Type</label>
            <span class="form-control" ng-model="newEvent.type" id="event-type">{{newEvent.type}}</span>
        </div>
        <div class="form-group">
            <label for="event-description">Description</label>
            <textarea type="text-area" ng-model="newEvent.description" class="form-control"
                      id="event-description" placeholder="Event description goes here"></textarea>
        </div>
        <div class="form-group">
            <label for="event-location">Location</label>
            <input type="text" ng-model="newEvent.location" class="form-control" id="event-location"
                   placeholder="Event Location">
        </div>
        <div class="form-group">
            <label for="event-date">Date</label>
            <input type="date" ng-model="newEvent.date" class="form-control" id="event-date"
                   placeholder="Event Location">
        </div>
        <div class="form-group">
            <label for="event-time">Time</label>
            <input type="time" ng-model="newEvent.time" class="form-control" id="event-time"
                   placeholder="Event Location">
        </div>
        <button ng-click="submitEvent();" type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
