<div class="fixed_nav">
    <a class="btn btn-default nav_btn" href="/#/home">Back</a>
    <h3>{{option.title}}</h3>
</div>

<div class="new_btn">
    <a class="btn btn-default nav_btn" href="#/{{option.title}}/new-event">Create New Event</a>
</div>

<div class="menu">
    <div class="menu_item">
        <div class="events" ng-repeat="($id,event) in option.events">
            <a href="#/event/{{option.title}}/{{$id}}"><h2>{{event.name}}</h2></a>
            <span>{{event.description}}</span>
        </div>
    </div>
</div>